/**
* Breakpoints
* - Mobile - 375px
* - Tablet - 768px
* - Laptop - 1366px
* - Desk   - > 1366px
*/


// Fonts
@font-face {
    font-family: "Segoe UI"; /*a name to be used later*/
    src: url("../../fonts/segoeui.ttf"); /*URL to font*/
}
@font-face {
    font-family: "Segoe-UI-Bold"; /*a name to be used later*/
    src: url("../../fonts/segoeuib.ttf"); /*URL to font*/
}

body {
    transition: ease-in-out 200ms;
    background-color: var(--background);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Headers */
h1 {
    font-family: "Segoe-UI-Bold";
    font-family: "Segoe-UI-Bold";
    color: var(--header-text);
    a {
        color: var(--header-text);
    }
}
h2 {
    font-family: "Segoe-UI-Bold";
    color: var(--header-text);
    a {
        color: var(--header-text);
    }
}
h3 {
    font-family: "Segoe-UI-Bold";
    color: var(--header-text);
    a {
        color: var(--header-text);
    }
}
h4 {
    font-family: "Segoe-UI-Bold";
    color: var(--header-text);
    a {
        color: var(--header-text);
    }
}
h5 {
    font-family: "Segoe-UI-Bold";
    color: var(--header-text);
    a {
        color: var(--header-text);
    }
}
h6 {
    font-family: "Segoe-UI-Bold";
    color: var(--header-text);
    a {
        color: var(--header-text);
    }
}

/* Basic Body Styling */
body,
p {
    font-family: "Segoe UI";
    color: var(--body-text);
}

a {
    color: var(--link);
    text-decoration: none;
    border-bottom: none;
    &:hover {
        color: var(--body-text);
        text-decoration: underline;
        border-bottom: none;
    }
}

/* Primary Admin Tasks */
#block-iid-primary-local-tasks {
    margin-bottom: 2rem;
}

/* Page Wrapper */
div#page-wrapper {
    height: 100vh;
}