header#ab-header {
    border: 1px solid red;
    background-color: white;
    .fontawesome-icon-inline {
        width: auto;
        height: 20px;
        svg {
            width: auto;
            height: 20px;
        }
    }
    .main-navigation {
        .region-main-navigation {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 1rem;
            .block {
                .content {
                    margin: 0;
                    p {
                        margin: 0;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }
                }
            }
            // Site branding
            .block#block-sitebranding {
                font-weight: 700;
                font-size: 1rem;
                .fontawesome-icon-inline {
                    margin-left: 0.5rem;
                }
            }
            // Theme toggle
            .block#block-themetoggle {
                margin-left: auto;
                .fontawesome-icon-inline {
                    border: 2px solid var(--accent);
                    background-color: var(--content-background);
                    border-radius: 50%;
                    padding: 0.5rem;
                    position: relative;
                    aspect-ratio: 1 / 1;
                    svg {
                        position: absolute;
                    }
                }
            } 
            // Nav menu
            nav.block-menu {
                
            }
        }
    }
}
