@font-face {
  font-family: "Segoe UI";
  /*a name to be used later*/
  src: url("../fonts/segoeui.ttf");
  /*URL to font*/
}
@font-face {
  font-family: "Segoe-UI-Bold";
  /*a name to be used later*/
  src: url("../fonts/segoeuib.ttf");
  /*URL to font*/
}
:root {
  --base-text: #2a2a2a;
  --content-background: #fcf8ea;
  --accent-borders: #eed7a1;
  --linktext: #9b7827;
  --light: #ffffff;
  --footer-link: #8caec8;
  --footer-text: #c8e7ff;
  --footer-background: #475c6c;
  --background: #f7efd2;
  --hover-background: #111111;
  --hover-color: #ffffff;
}

body {
  transition: ease-in-out 200ms;
  background-color: var(--background);
}

* {
  margin: 0;
  padding: 0;
}

.navigation-wrapper {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.navigation-wrapper .region-navigation {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation-wrapper .region-navigation .site-branding .site-branding__text {
  display: block;
  margin: 0;
  padding: 0;
}
.navigation-wrapper .region-navigation .site-branding .site-branding__text .site-branding__slogan {
  margin: 0;
  word-spacing: unset;
  font-family: "Segoe-UI-Bold";
  font-size: 1.25rem;
  font-style: normal;
}
.navigation-wrapper .region-navigation .site-branding .site-branding__text .site-branding__slogan svg {
  margin-left: 0.75rem;
}
.navigation-wrapper .region-navigation .navigation {
  margin-left: auto;
}
.navigation-wrapper .region-navigation .navigation .content {
  margin-top: 0;
  display: flex;
  align-items: center;
}
.navigation-wrapper .region-navigation .navigation .content .theme-toggle {
  background-color: var(--content-background);
  border: 2px solid var(--background);
  border-radius: 100%;
  padding: 0.64rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}
.navigation-wrapper .region-navigation .navigation .content .theme-toggle svg {
  width: 18px;
  height: 18px;
}
.navigation-wrapper .region-navigation .navigation .content .theme-toggle:hover {
  background-color: var(--hover-background);
  color: var(--hover-color);
  transition: ease-in-out 150ms;
}
.navigation-wrapper .region-navigation .navigation .content .menu {
  padding: 0;
  padding-left: 1rem;
  text-align: unset;
}
.navigation-wrapper .region-navigation .navigation .content .menu .menu-item {
  padding-top: 0;
}
.navigation-wrapper .region-navigation .navigation .content .menu .menu-item a {
  border: 2px solid var(--background);
  border-radius: 2rem;
  padding: 0.62rem 2rem;
  display: block;
  color: black;
  font-family: "Segoe UI";
}
.navigation-wrapper .region-navigation .navigation .content .menu .menu-item a:hover {
  background-color: var(--hover-background);
  color: var(--hover-color);
  transition: ease-in-out 150ms;
}/*# sourceMappingURL=styles.css.map */